.container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > span {
    color: darkred;
    font-size: .9rem;
    margin-top: 15px;
}

.container .weather {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container .weather .town {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.container .weather .town .town__name {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: start;
}

.container .weather .town p {
    font-size: 1.1rem;
    font-family: Arial, serif;
}

.container .weather .temp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;
}

.container .weather .temp .temp__title {
    color: #888888;
    text-decoration: underline;
}

.container .weather .temp .temp__group {
    display: flex;
    gap: 5px;
}

.container .weather .temp .temp__group .label {
    color: #888888;
}