.suggest {
    position: absolute;
    top: 70px;
    background: #1a1a1a;
    padding-bottom: 15px;
    max-height: 250px;
    overflow-y: auto;
}

.suggest__container__item {
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items:baseline;
    padding: 5px;
    gap: 5px;
    transition: all .3s;
}

.suggest__container__item:hover {
    background: #535bf2;
    color: #f9f9f9;
    cursor: pointer;
}

.name {
    font-size: 1rem;
}

.context {
    color: #888888;
    font-size: .7rem;
}

.suggest__container__item:hover .context {
    color: #f9f9f9;
}